<!-- <div ng-controller="dashboard" ></div> -->
<div ui-view="navbar"></div>
<div class="text-center dashboardWrapper" ng-controller="dashboard">
  <div class="dashboardInfoPanel">
	  <p ng-hide="loggedInAs" class="colorWhite">Welcome</p>
		<h2 class="colorWhite"><i class="fa fa-user-circle"></i> {{ title | uppercase }} 
			<span ng-controller="task" ng-show="updateButtonSpin">
					<i class="glyphicon glyphicon-refresh spinning"></i>
					<p > {{ theUpdateText }} </p>
			</span>
		</h2>
	</div> 
	<div ui-view="task" class="theTasksWrapper">
	</div>
	<hr>
</div>
<div ui-view="footer"></div>