<div class="collapse navbar-collapse">
  <div class="navbar-header">
    <a class="navbar-brand" href="#home">
      <img alt="Brand" src="./components/img/logo.svg"> <label id="title">Notes Keeper</label>
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a ng-hide="navOne" href="#{{navButtonOne}}">{{navButtonOne}}</a>
    </li>
    <li>
      <a ng-hide="navOne" href="#{{navButtonTwo}}">{{navButtonTwo}}</a> 
    </li>
    <li>
      <a ng-hide="navTwo" href="" ng-click="logout()">{{navButtonLogout}}</a>
    </li>
  </ul>
</div>
