<nav class="navbar navbar-default">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar" aria-expanded="true">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="#home">
        <img id="brandIcon" alt="Brand" src="./components/img/logo.svg"> <label id="title">Notify</label>
      </a>
    </div>
    <div id="navBar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-hide="navOne" href="#{{navButtonOneRoute}}">{{navButtonOne()}}</a>
        </li>
        <li>
          <a ng-hide="navOne" href="#{{navButtonTwoRoute}}">{{navButtonTwo()}}</a> 
        </li>
        <li>
          <a ng-hide="loggedInAs" href="">{{ email }}</a>
        </li>
        <li>        
          <a ng-hide="navTwo" href="" ng-click="logout()"><i class="fa fa-sign-out"></i> {{navButtonLogout}}</a>  
        </li>
      </ul> 
    </div>
</nav>
