<li class="theTasksLi" ng-repeat="arr in array" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
	<div id="theDivFirstInsideLi">	
		<span id="theCheckBoxSpan">
			<input id="checkBox" type="checkbox" name="taskCheckbox" ng-model="arr.status" ng-change="toCheck(arr.uid, arr.status)">
		</span>
		<span id="theTaskTextEditorSpan">
			<input id="theTaskTextEditor" type="text" value="{{ arr.task_text }}" ng-model="arr.task_text" ng-blur="makeTaskTextEditor(arr.uid, arr.task_text)">
		</span>
		<span id="theDeleteButtonSpan">
			<button id="theDeleteButton" ng-model="arr.task_text" ng-click="toDeleteTask(arr.uid)">
				<i class="fa fa-trash"></i>
			</button> 
		</span>	
	</div>
	<div class="theDivSecondInsideLi" ng-drag-data="arr" ng-drag="true" ng-center-anchor="true">
	</div>
</li>