<div ng-controller="task" id="theTaskDiv"> 
<span ng-show="syncButtonSpin"><i class="fa fa-circle-o-notch spinning"></i> Syncing...</span>
<br>	
	<div class="theTaskAddWrapper">
		<span>
			<form>
				<input id="theAddTaskDiv" type="text" name="addTask" ng-model="inputText" maxlength="20" placeholder="Add task here..."  ng-keydown="keyEnter($event)" ng-disabled="addDisable">
	    	<span ng-show="taskButtonSpin"><i class="fa fa-spinner spinning"></i></span>
			</form>
<!-- 			<button id="theAddTaskButton" class="btn" ng-click="add(inputText)">
				<span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
			</button> -->
		</span> 
	</div>
	<br>
	<span role="presentation" class="active">
		<button id="theAllBtn" ng-click="getActiveOrCompleted('')">
			All
		</button>
	</span>
	<span role="presentation">
		<button id="theActiveBtn" ng-click="getActiveOrCompleted('hello')">
			Active
		</button>
	</span>
	<span role="presentation">
		<button id="theCompletedBtn" ng-click="getActiveOrCompleted('hell')">
			Done
		</button>
	</span>
	<hr>
	<br>
	<span id="uncheckAllSpan">
		<button id="theUncheckAllButton"  class="checkButtons floatRight" ng-click="uncheckAll()" ng-disabled="allIncompleteDisabled" >
			<i class="fa fa-square-o" aria-hidden="true"></i>
			Mark All Incomplete
		</button>
	</span>
	<span id="checkAllSpan" ng-init="CompleteInit()">
		<button id="theCheckAllButton" class="checkButtons floatRight"  ng-disabled="allCompleteDisabled" ng-click="checkAll()">
			<i class="fa fa-check-square-o" aria-hidden="true"></i>
			Mark All Complete
		</button>
	</span>
	<span id="clearCheckedSpan">
		<button id="theClearCheckedButton" class="checkButtons floatLeft" ng-click="clearChecked()" ng-disabled="clearCheckDisabled" >
			<i class="fa fa-trash" aria-hidden="true"></i>
			Clear Checked
		</button>
	</span>
	<span id="reloadButtonSpan">
		<button id="theReloadButton" class="checkButtons floatLeft" ng-click="reload()">
			<i class="fa fa-refresh {{ spin }}" aria-hidden="true"></i>
			Refresh
		</button>
	</span>
	<br>
	<div class="container theTasksWrapper">
		<h2><span ng-show="mainPageSpinner"><i class="glyphicon glyphicon-refresh spinning"></i></span></h2>
		<div id="theTaskRepeatDivOne" ng-hide="istheUnCheckedArray">	
			<ul repeat class="theTasksUL" ng-repeat="arr in array">
			</ul>
		</div>
		<div id="theTaskRepeatDivTwo">
			<ul repeat class="theCheckedTaskUL" ng-repeat="arr in checkedArray" ng-hide="istheCheckedArray">
			</ul>
		</div>
	</div>
</div>


<!-- ng-show="clearCheckShow"
ng-show="allCompleteShow"
ng-show="allIncompleteShow"
ng-init="IncompleteInit()"
 -->