html, body {
  height: 100%;
  background-color: #fcfffe;
  animation: fadein 1s linear;
}

@keyframes fadein {
  0% { 
    opacity: 0; 
  }
  25% { 
    opacity: 0.2; 
  }
  50% { 
    opacity: 0.5; 
  }
  75% { 
    opacity: 0.7; 
  }
  100% { 
    opacity: 1; 
  }
}

.header-content {
	background-image: url('.././img/header.jpg');
  background-size: cover;
	min-height: 530px;
  animation: fadein 1s linear;
}

#navBar {
  background: white;
  box-shadow: 1px 2px 10px rgba(136, 136, 136, 0.3);
}

.navbar {
  margin-bottom: 0px;
}

img#brandIcon {
  margin-left: 20px;
}

.navbar-brand {
  padding: 0px 0px;
}

img {
	height: 41px;
  padding-right: 11px;
  padding-top: 10px;
}

.navbar-brand>img {
    display: inline-block;
}

#title{
	float: right;
	height: 49px;
  line-height: 53px;
  text-align: center;
}

h1 {
	font-size: 60px
}

p{
	color: white;
	font-size: 15px;
	padding-top : 50px;
	font-weight: 300;
  color: rgba(255,255,255,.7);
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}

#homeHeading {
	font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color : white;
  padding-top: 100px;
}

.div-wrap{
	text-align: center;
}

input.form-control {
  background-color: solid ghostwhite;
  border-radius: 0;
}

a {
  text-decoration: none;
}

input.form-control:focus {
  outline: 3px solid #4ed1db;
  border-radius: 0;
}

button.btn {
  transition-duration: 0.5s;
  border-radius: 2px;
  outline: 0;
  /*background-color: lightgreen;*/
}

button.btn:hover {
  background-color: darkgreen;
  /*box-shadow: 1px 1px 20px #ADD8E6;*/
  /*transform: scale(1.1);*/
}

/*Brand Title*/
#title {
  color: #3a9fe5;
  transition-duration: 0.5s;
}

#title:hover {
  color: 
}